:root{
    --textwhite : #FFFF;
    --sectionbc: #3A3636;
    --shema1: #265592;
    --schema2: #C8210E;
    --section: black;
}
body{
    text-align: center;
}
section{
    color: var(--textwhite);
    background-color: var(--section);
    padding: 10px;
    margin:20px;
}
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}
header,
footer{
    font-family: "Heebo", serif;
    font-weight: 400;
    font-style: normal;
    color: var(--textwhite);
    background-color:var(--shema1);
    padding: 10px;
    margin:20px;
}
.square{
    height: 50px;
    width:50px;
    margin: 10px;
}
.colors ul{
    padding:0;
    list-style: none;
    display: flex;
    justify-content: space-between;
}
#color1{
    background-color:var(--textwhite);
}
#color2{
    background-color:#3A3636;
}
#color3{
    background-color:#265592;
}
#color4{
    background-color:#C8210E;
}
.images{
    display: flex;
    justify-content: center;
}
img{
    height: 70%;
    width:50%;
    margin: 10px auto;
    max-height: 400px;
}
#gothic{
    font-family: "Gothic A1", serif;
    font-weight: 300;
    font-style: normal;
}
#roboto{
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}
#heebo{
    font-family: "Heebo", serif;
    font-weight: 400;
    font-style: normal;
}