:root{
    --white:  #FFFF;
    --dark:  #3A3636;
    --red: #C8210E;
    --blue:#265592;
    --black:black;
}
#button{
    font-size: 16px;
    color: var(--white);
    background-color: var(--red);
    padding: 10px;
    width: 200px;
    margin: 10px auto;
    border-radius: 8px;
    font-family: "Heebo", serif;
    font-weight: 400;
    font-style: normal;
}
.titletop {
    display: flex;
    align-items: center;
    margin: auto;
    height: 75px;
    background-color: var(--blue);
}
h1{
    color: var(--white);
    font-size: 16px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}
main{
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    gap:1rem;
    text-align: center;
}
section{
    height: 150px;
    border: #3A3636 solid;
    border-radius: 8px;
    margin: 10px;
    background-color: var(--dark);
}
.goback{
    color: #C8210E;
    font-size: 20px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}
footer{
    display: flex;
    text-align: center;
    color:var(--white);
    background-color: var(--blue);
    padding: 10px;
    margin-top: 20px;
    font-size: 16px;
    justify-content: center;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-style: normal;
}
footer img{
    height: 50px;
    width: 75px;
    margin:5px;
    border-radius: 20px;
}
.titletop img{
    height: 50px;
    width: 75px;
}
.hero{
    height: 90%;
    width: 90%;

    margin:10px auto;
}
.navigation li{
    list-style: none;
    margin: 0;
    display: none;
}
.navigation ul{
    padding: 0;
    margin: 0;
}
#menu{

    width: 50px;
    display: block;
    font-size: 5rem;
    font-weight:300;
    text-decoration: none;
    padding: 0;
    color:#eee;
    margin:5px;
}
#menu::before{
    content: "≡";
}

.navigation{
    list-style: none;
    margin:0 auto;

}

.navigation a{
    display: block;
    padding:.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color:var(--blue);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem,2vmin,1.5rem);
    border-radius: 8px;
    font-family: "Heebo", serif;
    font-weight: 400;
    font-style: normal;

}
.show li{
    display: block;
}
#menu.show::before{
    content:"✕";
    font-size: 45px;

}