:root{
    --white:  #FFFF;
    --dark:  #3A3636;
    --red: #C8210E;
    --blue:#265592;
    --black:black;
}

.navigation li{
    list-style: none;
    margin: 0;
    display: none;
}
.navigation ul{
    padding: 0;
    margin: 0;
}
#menu{
    display: block;
    font-size: 5rem;
    font-weight:300;
    text-decoration: none;
    padding: 0.5rem 0.75rem;
    background-color:rgb(18, 68, 99);
    color:#eee;
    margin:10px;
}
#menu::before{
    content: "≡";
}

.navigation{
    list-style: none;
    margin:0 auto;

}

.navigation a{
    display: block;
    padding:.75rem;
    text-align: center;
    text-decoration: none;
    color: var(--white);
    background-color:var(--blue);
    font-weight: 700;
    transition: 0.5s;
    font-size: clamp(1rem,2vmin,1.5rem);
    border-radius: 8px;
}
.show li{
    display: block;
}
#menu.show::before{
    content:"✕";
    font-size: 50px;

}