:root{
    --white:  #FFFF;
    --dark:  #3A3636;
    --red: #C8210E;
    --blue:#265592;
    --black:black;
}




.titletop {
    display: flex;
    align-items: center;
    margin: auto;
    height: 100px;
}
.titletop img{
    height: 100px;
    width: 150px;
}
ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dark);
    padding: 20px;
    margin: 0;

}
h1{
    margin: 20px auto;
    color:var(--white);
}
header{
    text-align: center;
    background-color: var(--blue);
}

nav a{
    font-size: 24px;
    padding: 20px;
    margin: 20px 30px;
    color: var(--white);
    background-color:var(--dark);
}
.hero{
    height: 70%;
    width: 70%;
    grid-column: 1/3;
    margin:10px auto;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap:1rem;
    text-align: center;
}
#button{
    grid-column: 1/3;
    font-size: 30px;
    color: var(--white);
    background-color: var(--red);
    padding: 20px;
    width: 200px;
    margin: 10px auto;
    border-radius: 8px;
}
footer{
    display: flex;
    text-align: center;
    color:var(--white);
    background-color: var(--blue);
    padding: 20px;
    margin-top: 20px;
    font-size: 18px;
    justify-content: center;
}
footer img{
    height: 50px;
    width: 75px;
    margin:5px;
}
section{
    height: 300px;
    border: #3A3636 solid;
    border-radius: 8px;
    margin: 20px;
    background-color: var(--dark);
}