@media screen and (min-width: 800px){
    
    header{
        display: flex;
        background-color: rgb(18, 68, 99);
        justify-content: center;
    }
    h1{
        font-family: "DM Serif Text", serif;
        font-weight: 400;
        font-style: normal;
        color: white;
        height: 100px;
        align-content: center;
        text-align: center;
        padding: 10px;
        margin: 0;
        text-shadow: 6px 6px darkblue;
    }
    .navigation nav{
        max-width: 1800px;
        display: flex;
        list-style: none;
        height: 100px;
        align-items: center;
        justify-content: space-between;
        flex: 1 1 100%;
        background-color:bisque;
    }
    .navigation nav a {
        margin: 15px;
        color:white;
        font-family: "Open Sans", serif;
        font-weight: 400;
        font-style: normal;
        background-color:rgb(44, 100, 101);
        padding: 25px;
        border-radius: 8px;
        box-shadow: 6px 6px darkblue;
        
    }
    .navigation ul{
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .navigation li{
        display: block;
        margin: 10px;

    }
    nav a{
        color: white;
        font-family: "Open Sans", serif;
        font-weight: 400;
        margin: 20px;
        font-style: normal;
        padding: 10px;
    }
    nav a:hover{
        color: black;
        background-color: white;
        border-radius: 8px;
    }
    .navigation nav a:hover{
        color: black;
        background-color: white;
    }
    h3{
        background-color: bisque;
        padding: 1rem;
        margin: 0;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;
        color: black;
        font-family: "DM Serif Text", serif;
        font-style: normal;
        font-weight: 400;
        padding: 10px;
        text-align: center;
    }
    body{
        color: black;
        background-color: white;
        margin: 0;
    }
    h2{
        
        font-family: "DM Serif Text", serif;
        font-style: normal;
        font-weight: 400;
    }
    
    hr{
        align-self:center;
        width: 90%;
    }
    main{
        
        max-width: 100%;
        display:grid;
        grid-template-columns: 2fr ;
        margin:2rem auto;
        gap:2rem;
        
        
    }
    .country{
        display: flex;
    }
    .card{
        border-radius: 10px;
        background-color: rgb(44, 100, 101);
        margin: 1rem;
        box-shadow: 6px 6px darkblue;
    }
    .resources{
        display: flex;
        flex-flow: column;
        text-align: center;
        justify-content: space-around;
        
    }
    .link{
        font-size: 20px;
    }
    main .image{
        margin:10px;
        height:150px;
        border-radius: 8px;
        
        position: relative;
    }
    
    footer{
        color: white;
        background-color: rgb(18, 68, 99);
        height: 100px;
        align-content: center;
        align-items: center;
        text-align: center;
    }
    span{
        font-family: "Open Sans", serif;
        font-weight: 400;
        font-style: normal;
        margin: 50px;
    }
    section{
        max-width: 1800px;
        width: 98%;
    }
    section nav {
        display: flex;
        flex-direction: column;
    }
    li{
        color: white;
        font-family: "Open Sans", serif;
        font-weight: 400;
        margin: 20px;
        font-style: normal;
        color: white;
        list-style-type: decimal-leading-zero;
    }
    img{
        height: 100px;
        width: 150px;
        margin: 10px;
    }
    header img{
        height: 100px;
        width: 80px;
    }
    h2{
        text-align: center;
        
    }
    div span{
        color: white;
    }
    #menu{
        display: none;
    }
    iframe{
        width: 80%;
        margin: 80px 150px;
        height: 500px;
        
        
    }
}